html,
body {
  margin: 0;
  font-family: monospace;
  box-sizing: border-box;
  height: 100%;
}

header {
  background-color: #ffd700;
  padding: 1.5rem;
  position: relative;
}

h1 {
  font-size: 3rem;
  line-height: 1rem;
}

header p {
  font-size: 1rem;
}

button {
  all: unset;
  font-family: Arial;
  font-size: 1.5rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 3rem;
}

main {
  height: 100%;
  position: relative;
}
.counter {
  font-size: 8rem;
  position: absolute;
  left: 45%;
  top: 30%;
}

.background {
  background-color: white;
  height: 100%;
  width: 0;
}
